// Define variables for your color scheme

// For example:
$red: #FD1015;
$light-red: rgb(255, 223, 223);
$light-blue: #C5CBE3;
$blue: #4056A1;
$orange: #ff9d00;
$yellow: #FFFFB7;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
