// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@700&family=Montserrat&display=swap');

// Define fonts for body and headers
$body-font: 'Montserrat', 'sans-serif';
$headers-font: 'Aleo', 'serif';

$h1: 'Montserrat', 120px;
$h2: 'Montserrat', 90px;
$h3: 'Montserrat', 60px;
$h4: 'Montserrat', 50px;
$p: 'Montserrat', 22px;
$a: 'Montserrat', 22px;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
