<body>

<h1>Pages#home</h1>

<%# testing hover here %>

<div class="logo-container">
  <div class="logo-frame frame1">
    <%= inline_svg("frame1.svg", class: "svg-frame") %>
  </div>
  <div class="logo-frame frame2">
    <%= inline_svg("frame2.svg", class: "svg-frame") %>
  </div>
</div>



</body>

<!-- Example single danger button -->
