<body>

<h1>Pages#home</h1>

<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    User
  </button>
  <ul class="dropdown-menu">
  <a class="dropdown-item" href="/users/sign_in" >Login</a>
      <a class="dropdown-item" href="/users/sign_up">Register</a>
      <a class="dropdown-item" href="/users/edit">Userprofile</a>
      <div class="dropdown-divider"></div>
      <%= button_to "logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </ul>
</div>

</body>

<!-- Example single danger button -->
