.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  border-style: none;

  .card {
    border-radius: 1em;
    border: none;
    text-align:left;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    background-color: $main-yellow;
    margin: 10px;

    &:hover {
      border: 3px solid $main-blue;
      border-radius: 20px;
      box-shadow: 0 15px 30px rgba(0,0,0,.3);
    }
  }

  .card-img-top {
    border-radius: 16px;
    object-fit: cover;
    height:350px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
  }

  .card-text {
    position: absolute;
    left: 16px;
    bottom: 150px;
    color: $main-blue;
    text-shadow: -1px 0 rgba(242, 246, 253, 0.6), 0 1px rgba(242, 246, 253, 0.6), 1px 0 rgba(242, 246, 253, 0.6), 0 -1px rgba(242, 246, 253, 0.6);
  }

  .card-title {
    color: black;
  }

}
