.navbar-lewagon {
  justify-content: space-between;
  background: $main-green;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: $main-yellow;
}

.nav-link:hover {
  color: $red;
}

.navbar-brand {
  color: $main-blue;
}


.dropdown-menu {
  background-color: $main-yellow;
  color: $main-blue;
  border-radius: 25px;
  font-size: 'Montserrat', 30px;;
}

.dropdown-menu:hover {
  color: $main-red;
  border-radius: 25px;
  font-size: 'Montserrat', 30px;;
}
