.navbar-lewagon {
  justify-content: space-between;
  background: $main-green;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: $main-yellow;
}

.nav-link:hover {
  color: $red;
}

.navbar-brand {
  color: $main-blue;
}

.navbar-brand:hover {
  color: $main-yellow;
}


.dropdown-menu {
  background-color: $main-yellow;
  color: $main-blue;
  border-radius: 25px;
  font-size: 'Montserrat', 30px;;
}

.dropdown-menu:hover {
  color: $main-red;
  border-radius: 25px;
  font-size: 'Montserrat', 30px;
}

.fas {
  font-weight: 1200px;
}

.dropdown-item:hover {
  background-color: transparent;
  color: $main-green;
  font-style: bold;
}

// logo

.logo-container {
  height: 80px;
}

.logo-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.frame1 {
  visibility: visible;
  opacity: 1;
}

.logo-container:hover .frame1 {
  opacity: 0;
}

.logo-container:hover .frame2 {
  opacity: 1;
}
